In [1]:
import pandas as pd
import numpy as np

pd.options.display.float_format = '{:.5f}'.format

In [2]:
installments_df = pd.read_csv('installments_payments.csv')

In [3]:
installments_df.info(verbose=True, null_counts=True)

C:\Users\TaeSoo\AppData\Local\Temp/ipykernel_10168/736994189.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  installments_df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13605401 entries, 0 to 13605400
Data columns (total 8 columns):
 #   Column                  Non-Null Count     Dtype
---  ------                  --------------     -----
 0   SK_ID_PREV              13605401 non-null  int64
 1   SK_ID_CURR              13605401 non-null  int64
 2   NUM_INSTALMENT_VERSION  13605401 non-null  float64
 3   NUM_INSTALMENT_NUMBER   13605401 non-null  int64
 4   DAYS_INSTALMENT         13605401 non-null  float64
 5   DAYS_ENTRY_PAYMENT      13602496 non-null  float64
 6   AMT_INSTALMENT          13605401 non-null  float64
 7   AMT_PAYMENT             13602496 non-null  float64
dtypes: float64(5), int64(3)
memory usage: 830.4 MB

In [4]:
installments_df.describe(include='all')

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
count,13605401.00000,13605401.00000,13605401.00000,13605401.00000,13605401.00000,13602496.00000,13605401.00000,13602496.00000
mean,1903364.96955,278444.88174,0.85664,18.87090,-1042.26999,-1051.11368,17050.90699,17238.22325
std,536202.90555,102718.31041,1.03522,26.66407,800.94628,800.58588,50570.25443,54735.78398
min,1000001.00000,100001.00000,0.00000,1.00000,-2922.00000,-4921.00000,0.00000,0.00000
25%,1434191.00000,189639.00000,0.00000,4.00000,-1654.00000,-1662.00000,4226.08500,3398.26500
50%,1896520.00000,278685.00000,1.00000,8.00000,-818.00000,-827.00000,8884.08000,8125.51500
75%,2369094.00000,367530.00000,1.00000,19.00000,-361.00000,-370.00000,16710.21000,16108.42500
max,2843499.00000,456255.00000,178.00000,277.00000,-1.00000,-1.00000,3771487.84500,3771487.84500

In [5]:
installments_df.columns

Index(['SK_ID_PREV', 'SK_ID_CURR', 'NUM_INSTALMENT_VERSION',
       'NUM_INSTALMENT_NUMBER', 'DAYS_INSTALMENT', 'DAYS_ENTRY_PAYMENT',
       'AMT_INSTALMENT', 'AMT_PAYMENT'],
      dtype='object')

In [6]:
pk_id = sorted(list(installments_df['SK_ID_PREV'].unique()))

In [7]:
level_0 = ['NUM_INSTALMENT_VERSION', 'NUM_INSTALMENT_NUMBER', 'DAYS_INSTALMENT', 'DAYS_ENTRY_PAYMENT', 'AMT_INSTALMENT', 'AMT_PAYMENT']
level_1 = ['_MEAN', '_MEDIAN', '_STD', '_FIRST']

col_names = []
for name1 in level_0 :
    for name2 in level_1 :
        col_names.append(name1+name2)

In [8]:
merge_real_num_df = pd.DataFrame(installments_df.groupby('SK_ID_PREV').agg(['mean','median','std','first']))
merge_real_num_df.reset_index(drop = True, inplace = True)
merge_real_num_df.columns = merge_real_num_df.columns.droplevel(0)
merge_real_num_df = merge_real_num_df.iloc[:,4:]
merge_real_num_df.columns = col_names
merge_real_num_df

,NUM_INSTALMENT_VERSION_MEAN,NUM_INSTALMENT_VERSION_MEDIAN,NUM_INSTALMENT_VERSION_STD,NUM_INSTALMENT_VERSION_FIRST,NUM_INSTALMENT_NUMBER_MEAN,NUM_INSTALMENT_NUMBER_MEDIAN,NUM_INSTALMENT_NUMBER_STD,NUM_INSTALMENT_NUMBER_FIRST,DAYS_INSTALMENT_MEAN,DAYS_INSTALMENT_MEDIAN,...,DAYS_ENTRY_PAYMENT_STD,DAYS_ENTRY_PAYMENT_FIRST,AMT_INSTALMENT_MEAN,AMT_INSTALMENT_MEDIAN,AMT_INSTALMENT_STD,AMT_INSTALMENT_FIRST,AMT_PAYMENT_MEAN,AMT_PAYMENT_MEDIAN,AMT_PAYMENT_STD,AMT_PAYMENT_FIRST
0,1.50000,1.50000,0.70711,1.00000,1.50000,1.50000,0.70711,1,-253.00000,-253.00000,...,35.35534,-294.00000,34221.71250,34221.71250,39339.74789,6404.31000,34221.71250,34221.71250,39339.74789,6404.31000
1,1.25000,1.00000,0.50000,2.00000,2.50000,2.50000,1.29099,4,-1555.00000,-1555.00000,...,25.77305,-1554.00000,9308.89125,6264.00000,6089.78250,18443.56500,9308.89125,6264.00000,6089.78250,18443.56500
2,1.00000,1.00000,0.00000,1.00000,2.00000,2.00000,1.00000,3,-64.00000,-64.00000,...,29.53529,-49.00000,4951.35000,4951.35000,0.00000,4951.35000,4951.35000,4951.35000,0.00000,4951.35000
3,1.14286,1.00000,0.37796,1.00000,4.00000,4.00000,2.16025,6,-772.00000,-772.00000,...,66.56254,-752.00000,4789.02214,3391.11000,3698.52788,3391.11000,4789.02214,3391.11000,3698.52788,3391.11000
4,1.00000,1.00000,0.00000,1.00000,5.81818,6.00000,3.06001,2,-1543.45455,-1538.00000,...,88.19122,-1664.00000,14703.21000,14713.60500,34.47631,14713.60500,13365.60955,14713.60500,4432.07797,14713.60500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997747,1.14286,1.00000,0.37796,1.00000,4.00000,4.00000,2.16025,1,-349.00000,-349.00000,...,67.93730,-453.00000,113932.88357,23556.19500,239114.24228,23556.19500,113932.88357,23556.19500,239114.24228,23556.19500
997748,0.00000,0.00000,0.00000,0.00000,16.23529,16.50000,9.41970,18,-258.05882,-274.00000,...,114.61528,-266.00000,9186.31191,3513.19500,15650.67328,9900.00000,8950.97515,2468.11500,15722.73094,9900.00000
997749,1.00000,1.00000,0.00000,1.00000,10.50000,10.50000,5.91608,4,-303.00000,-303.00000,...,180.87707,-499.00000,9175.18500,9175.18500,0.00000,9175.18500,9175.18500,9175.18500,0.00000,9175.18500
997750,1.33333,1.00000,0.81650,1.00000,3.50000,3.50000,1.87083,1,-1367.66667,-1367.00000,...,60.62563,-1464.00000,69053.57250,16191.99000,129483.90412,16191.99000,69053.57250,16191.99000,129483.90412,16191.99000
997751,1.10000,1.00000,0.31623,1.00000,5.50000,5.50000,3.02765,7,-1068.00000,-1068.00000,...,92.51480,-1047.00000,57808.22400,16074.00000,131975.20422,16074.00000,57808.22400,16074.00000,131975.20422,16074.00000

In [11]:
installments_pre = merge_real_num_df
installments_pre.index = pk_id
installments_pre = installments_pre.reset_index()
installments_pre = installments_pre.rename(columns={'index':'SK_ID_PREV'})
installments_pre

,SK_ID_PREV,NUM_INSTALMENT_VERSION_MEAN,NUM_INSTALMENT_VERSION_MEDIAN,NUM_INSTALMENT_VERSION_STD,NUM_INSTALMENT_VERSION_FIRST,NUM_INSTALMENT_NUMBER_MEAN,NUM_INSTALMENT_NUMBER_MEDIAN,NUM_INSTALMENT_NUMBER_STD,NUM_INSTALMENT_NUMBER_FIRST,DAYS_INSTALMENT_MEAN,...,DAYS_ENTRY_PAYMENT_STD,DAYS_ENTRY_PAYMENT_FIRST,AMT_INSTALMENT_MEAN,AMT_INSTALMENT_MEDIAN,AMT_INSTALMENT_STD,AMT_INSTALMENT_FIRST,AMT_PAYMENT_MEAN,AMT_PAYMENT_MEDIAN,AMT_PAYMENT_STD,AMT_PAYMENT_FIRST
0,1000001,1.50000,1.50000,0.70711,1.00000,1.50000,1.50000,0.70711,1,-253.00000,...,35.35534,-294.00000,34221.71250,34221.71250,39339.74789,6404.31000,34221.71250,34221.71250,39339.74789,6404.31000
1,1000002,1.25000,1.00000,0.50000,2.00000,2.50000,2.50000,1.29099,4,-1555.00000,...,25.77305,-1554.00000,9308.89125,6264.00000,6089.78250,18443.56500,9308.89125,6264.00000,6089.78250,18443.56500
2,1000003,1.00000,1.00000,0.00000,1.00000,2.00000,2.00000,1.00000,3,-64.00000,...,29.53529,-49.00000,4951.35000,4951.35000,0.00000,4951.35000,4951.35000,4951.35000,0.00000,4951.35000
3,1000004,1.14286,1.00000,0.37796,1.00000,4.00000,4.00000,2.16025,6,-772.00000,...,66.56254,-752.00000,4789.02214,3391.11000,3698.52788,3391.11000,4789.02214,3391.11000,3698.52788,3391.11000
4,1000005,1.00000,1.00000,0.00000,1.00000,5.81818,6.00000,3.06001,2,-1543.45455,...,88.19122,-1664.00000,14703.21000,14713.60500,34.47631,14713.60500,13365.60955,14713.60500,4432.07797,14713.60500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997747,2843495,1.14286,1.00000,0.37796,1.00000,4.00000,4.00000,2.16025,1,-349.00000,...,67.93730,-453.00000,113932.88357,23556.19500,239114.24228,23556.19500,113932.88357,23556.19500,239114.24228,23556.19500
997748,2843496,0.00000,0.00000,0.00000,0.00000,16.23529,16.50000,9.41970,18,-258.05882,...,114.61528,-266.00000,9186.31191,3513.19500,15650.67328,9900.00000,8950.97515,2468.11500,15722.73094,9900.00000
997749,2843497,1.00000,1.00000,0.00000,1.00000,10.50000,10.50000,5.91608,4,-303.00000,...,180.87707,-499.00000,9175.18500,9175.18500,0.00000,9175.18500,9175.18500,9175.18500,0.00000,9175.18500
997750,2843498,1.33333,1.00000,0.81650,1.00000,3.50000,3.50000,1.87083,1,-1367.66667,...,60.62563,-1464.00000,69053.57250,16191.99000,129483.90412,16191.99000,69053.57250,16191.99000,129483.90412,16191.99000
997751,2843499,1.10000,1.00000,0.31623,1.00000,5.50000,5.50000,3.02765,7,-1068.00000,...,92.51480,-1047.00000,57808.22400,16074.00000,131975.20422,16074.00000,57808.22400,16074.00000,131975.20422,16074.00000

In [12]:
installments_pre.to_csv('installments_merge.csv')